#LoginBox {
  height: 500px;
  width: 50%;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: white;
  display: flex;
  box-shadow: 1px 1px 2px 1px #eee;
}

.button {
  width : 300px;
  height : 47px;
  background-color: transparent;
  border-radius: 8px;
  border : 1px solid black;
  color : black;
  font-weight: bold;
  text-align: center;
}

.serveMain {
  text-align: center;
}

.site-button-ghost-wrapper{
  height: 120px;
}

.kakaoLogo{
  width : 24px;
  height : 24px;
  margin-right: 10px;
}

.BliondLogo{
  width : 200px;
  margin-top: -65px;
}

h6{
  font-size: 30px;
}

p{
  font-size: 14px;
  text-align: center;
  margin-top: -9px;
  margin-left: 15px;
}