#container {
  display: flex;
}

#PollList {
  min-width: 350px;
  margin-top: 30px;
  width: 60%;
  position: relative;
}

#PollBox {
  height: 500px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: white;
  display: flex;
  box-shadow: 1px 1px 2px 1px #eee;
}

.pollButton {
  background-color: #2367a6;
  width: 180px;
  height: 40px;
  border-radius: 5px;
  color: white;
}

.pollHeader {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.titleText {
  max-width: 300px;
  width: 620px;
}

.optionText {
  max-width: 300px;
  width: 620px;
}

.pollContent {
  margin: 13px;
  /*display: flex;*/
  /*!*flex-wrap: wrap;*!*/
  /*flex-direction : column ;*/
  /*justify-content: space-between;*/
}
