#container {
  display: flex;
}

#PollList {
  min-width: 350px;
  margin-top: 30px;
  width: 60%;
  position: relative;
}

#PollBox {
  height: 500px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: white;
  display: flex;
  box-shadow: 1px 1px 2px 1px #eee;
}

.pollButton {
  background-color: #2367a6;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  color: white;
}

.pollHeader {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.titleText {
  width: 700px;
  max-width: 640px;
  margin-top: 15px;
}

.optionText {
  width: 650px;
}

.pollContent {
  margin: 13px;
  /*display: flex;*/
  /*!*flex-wrap: wrap;*!*/
  /*flex-direction : column ;*/
  /*justify-content: space-between;*/
}

/* input 추가 및 제거 css */
.App {
  width: 700px;
  margin: 5rem auto;
  display: flex;
  justify-content: space-between;
}

.form-field {
  flex: 2;
}

.form-field label, h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: rgb(84, 84, 84);
}

input {
  height: 35px;
  width: 100%;
  padding: 7px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
}

input:focus {
  border: 1px solid rgb(0, 208, 255);
}

.services {
  display: flex;
  justify-content: space-between;
}

.first-division {
  display: flex;
  flex-direction: column;
  margin: 0 5px 0.5rem 0;
  width: 100%;
}

.add-btn, .remove-btn {
  background: none;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  border-radius: 2px;
  padding: 5px 10px;
  width: 35px;
}

.first-division button {
  align-self: flex-start;
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  color: rgb(0, 208, 255);
  border: 1px solid rgb(0, 208, 255);
}

.second-division button {
  color: red;
  border: 1px solid red;
}
