.form-control {
  border: 0.5px #00cc66 solid;
}

.form-control:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #00cc66;
}

.card:hover {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 3px #00cc66;
  cursor: pointer;
}

#container {
  display: flex;
}

/* 이벤트 리스트 css */

#eventList {
  min-width: 350px;
  margin-top: 30px;
  width: 55%;
  position: relative;
  /*border : 1px solid #aaa;*/
  padding: 5px;
}

#eventBox {
  height: 200px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: white;
  display: flex;
  box-shadow: 1px 1px 2px 1px #eee;
  display: block;
  padding: 15px 25px;
  margin-top: 8px;
  position: relative;
}

.eventListTitle {
  /*border: 1px solid #ddd;*/
  height: 30px;
}

.eventListContent {
  border: 1px solid #ddd;
  font-size: 12px;
  height: 60px;
  padding: 5px;
}

.eventDate {
  /*border: 1px solid #ddd;*/
  height: 20px;
  font-size: 10px;
  text-align: end;
}
.createDate {
  margin-top: 10px;
  text-align: end;
}

hr {
  background: #ddd;
  border: 0.2px solid #e5e5e5;
  margin: 17px 0px;
}

.eventShowButton {
  float: right;
  margin-top: 10px;
}

.eventHeader .pollButton {
  background-color: #2367a6;
  width: 140px;
  height: 40px;
  border-radius: 5px;
  color: white;
}

.eventHeader {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 5px;
}

/* 모달 속 이벤트 */

.eventTitleText {
  min-width: 300px;
  width: 430px !important;
}

.eventFormText {
  min-width: 300px;
  width: 450px;
}
